<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<Properties>
<Property name="basePath">./target</Property>
</Properties>
  <Appenders>
  <RollingFile name="File" fileName="${basePath}/homepage.log" filePattern="${basePath}/homepage-%d{yyyy-MM-dd}.log">
     <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <SizeBasedTriggeringPolicy size="5 KB" />
      <DefaultRolloverStrategy>
      <Delete basePath="${baseDir}" maxDepth="1">
          <IfFileName glob="*/homepage-*.log" />
          <IfLastModified age="P1D" />
        </Delete>
      </DefaultRolloverStrategy>
          </RollingFile>
           <RollingFile name="File1" fileName="${basePath}/validatenavigationbar.log" filePattern="${basePath}/validatenavigationbar-%d{yyyy-MM-dd}.log">
     <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <SizeBasedTriggeringPolicy size="5 KB" />
      <DefaultRolloverStrategy>
      <Delete basePath="${baseDir}" maxDepth="1">
          <IfFileName glob="*/validatenavigationbar-*.log" />
          <IfLastModified age="P1D" />
        </Delete>
      </DefaultRolloverStrategy>
          </RollingFile>
           <RollingFile name="File2" fileName="${basePath}/validateTitle.log" filePattern="${basePath}/validateTitle-%d{yyyy-MM-dd}.log">
     <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <SizeBasedTriggeringPolicy size="5 KB" />
      <DefaultRolloverStrategy>
      <Delete basePath="${baseDir}" maxDepth="1">
          <IfFileName glob="*/validateTitle-*.log" />
          <IfLastModified age="P1D" />
        </Delete>
      </DefaultRolloverStrategy>
          </RollingFile>
          <RollingFile name="File3" fileName="${basePath}/rediffpagetest.log" filePattern="${basePath}/rediffpagetest-%d{yyyy-MM-dd}.log">
     <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <SizeBasedTriggeringPolicy size="5 KB" />
      <DefaultRolloverStrategy>
      <Delete basePath="${baseDir}" maxDepth="1">
          <IfFileName glob="*/rediffpagetest-*.log" />
          <IfLastModified age="P1D" />
        </Delete>
      </DefaultRolloverStrategy>
          </RollingFile>
  </Appenders>
  <Loggers>
    <Logger name="tests.HomePage" level="trace" additivity="false">
      <AppenderRef ref="File"/>
    </Logger>
     <Logger name="tests.validateNavigationBar" level="trace" additivity="false">
      <AppenderRef ref="File1"/>
    </Logger>
     <Logger name="tests.validateTitle" level="trace" additivity="false">
      <AppenderRef ref="File2"/>
    </Logger>
    <Logger name="tests.RediffPageTest" level="trace" additivity="false">
      <AppenderRef ref="File3"/>
    </Logger>
     <Root level="trace">
      <AppenderRef ref="File"/>
      <AppenderRef ref="File1"/>
      <AppenderRef ref="File2"/>
      <AppenderRef ref="File3"/>
    </Root>
  </Loggers>
</Configuration>